<table class='numpad'>
    <tbody>
        <tr>
            <td class="digit" onclick="setval(1)">1</td>
            <td class="digit" onclick="setval(2)">2</td>
            <td class="digit" onclick="setval(3)">3</td>
        </tr>
        <tr>
            <td class="digit" onclick="setval(4)">4</td>
            <td class="digit" onclick="setval(5)">5</td>
            <td class="digit" onclick="setval(6)">6</td>
        </tr>
        <tr>
            <td class="digit" onclick="setval(7)">7</td>
            <td class="digit" onclick="setval(8)">8</td>
            <td class="digit" onclick="setval(9)">9</td>
        </tr>
        <tr>
            <td class="action back" onclick="focusBack();">&#8592;</td>
            <td class="digit" onclick="setval(0)">0</td>
            <td class="action submit" onclick="submitProblem();">&#10004;</td>
        </tr>
    </tbody>
</table>

