body {
    margin: 20px 20px 20px 20px;
}

#footer {
    clear: both;
    width: 100%;
    border-top: 2px solid #ddd;
    padding-top: 6px;
}   

#footerLinks {
    text-align: center;
    font-style: italic;
}

#footerInfo {
    text-align: right;
    color: #999;
    font-size: 10pt;
}  

#footerInfo .build {
    font-size: 8pt;
}

.disabledLink {
    color: gray;
    text-decoration: underline;
}

div.buttons {
    width: 300px;
}

div.buttons input {
    width: 60px;
}

div.buttons span.other {
    float: right;
}

h2 span.infoLink {
    font-weight: normal;
    font-size: 12pt;
}
