/* Layout for pages the render a problem.  Used by both exsession.jsp and
 * show.jsp.
 */
#worksheet {}

#maincol {
    float: left;
    padding-left: 25px;
}

#leftcol {
    float: left;
    padding-top: 80px;
    width: 170px;
}

#problemForm div.buttons {
    width: 320px;
    border-top: 4px solid #cccccc;
    margin-top: 10px;
    margin-bottom: 35px; /* Includes button height. */
    padding-top: 4px;
}

#bottomPanel {
    margin-top: 20px;
}

#bottomPanel table.progress {
}

#bottomPanel ul.bottomLinks {
}
