/* Layout for pages the render a problem.  Used by both exsession.jsp and
 * show.jsp.
 */
#maincol {
    margin-left: 170px;
    padding-left: 25px;
}

#leftcol {
    position: absolute;
    left: 40px;
    top: 80px;
    width: 170px;
}

#problemForm div.buttons {
    width: 320px;
    border-top: 4px solid #cccccc;
    margin-top: 10px;
    padding-top: 4px;
}

#problemForm div.buttons input {
    width: 60px;
}   

#problemForm div.buttons span.other {
    float: right;
}

#bottomPanel {
    margin-top: 20px;
}

#bottomPanel table.progress {
}

#bottomPanel ul.bottomLinks {
}
