/* Layout for pages the render a problem.  Used by both exsession.jsp and
 * show.jsp.
 */
body {
    margin: 20px 20px 20px 20px;
}

#maincol {
    margin-left: 130px;
    padding-left: 25px;
}

#leftcol {
    position: absolute;
    left: 20px;
    top: 80px;
    width: 130px;
}

#problemForm div.buttons {
    width: 320px;
    border-top: 4px solid #cccccc;
    margin-top: 10px;
    padding-top: 4px;
}

#problemForm div.buttons input {
    width: 60px;
}   

#problemForm div.buttons span.other {
    float: right;
}

#bottomPanel {
    margin-top: 20px;
}

#bottomPanel table.progress {
    border: 2px solid #bababa;
    border-collapse: collapse;
    display: inline-table;
}

#bottomPanel table.progress tr.odd {}   

#bottomPanel table.progress tr.even {
    background: #eaeaea;
}

#bottomPanel table.progress th {
    text-align: right;
    padding: 0.25em;
}

#bottomPanel table.progress td {
    text-align: center;
    padding: 0.25em;
}

#bottomPanel div.bottomLinks {
    margin-left: 40px;
    display: inline;
    vertical-align: bottom;
}
