#problemContainer {
    display: table-cell;
    vertical-align: middle;
    width: 260px;
    height: 130px;
    /*border: 1px solid blue;*/
}

#problemContainer table {
    font-size: 20pt;
    font-family: sans-serif;
}

#problemContainer td {
    width: 40px;
    height: 40px;
    text-align: center;
}

#problemContainer td.rule {
    height: 5px;
}

#problemContainer td input {
    width: 60px;
    height: 40px;
    text-align: center;
    font-size: 20pt;
    font-family: sans-serif;
}
